<div class="footer">
  Built by <a href="https://twitter.com/caletilford">Cale</a>, based on Philippe Rivière's <a href="https://bl.ocks.org/Fil/61bf310184055add159620a977112069">Dodecahedral projection</a>
</div>
