<div class="howto">
  <img class="howto-image" src="static/photo.jpg"></img>
  <div class="howto-title">
    Instructions
  </div>
  <div class="howto-text">
    Print, cut-out and fold along the dotted lines and tabs.
    Fold the paper hook and stick to the top of the globe to hang it from your christmas tree.
  </div>
</div>
