<div>
  <div>Change settings...</div>
  <div>
    Display Graticules <input type="checkbox" id="graticulesToggle" checked="true">
  </div>
  </div>
    <span>Sea Colour</span>
    <select id="seaColour">
      <option value="default" selected="selected">Default</option>
      <option value="blue">Blue</option>
      <option value="custom">Custom</option>
    </select>
    Hex Code #<input id="seaColourHex" size="6" maxlength="6" class="hexColour" type="text">
  </div>
</div>
