<div class="settings">
  <div class="settings-title">Settings</div>
  <div class="settings-setting">
    Display Graticules <input type="checkbox" id="graticulesToggle" checked="true">
  </div>
  <div class="settings-setting">
    <span>Colour Scheme</span>
    <select id="mapColour">
      <option value="default" selected="selected">Christmas (Random)</option>
      <option value="black">Black</option>
      <option value="population">Population</option>
    </select>
  </div>
  <div class="settings-setting">
    <span>Sea Colour</span>
    <select id="seaColour">
      <option value="default" selected="selected">Default</option>
      <option value="blue">Blue</option>
      <option value="custom">Custom</option>
    </select>
    (Hex Code #<input id="seaColourHex" size="6" maxlength="6" class="hexColour" type="text">)
  </div>
</div>
