// Mobile content area width
$on-palm: 600px;

// Define media-query
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: monospace;
}

@include media-query($on-palm) {
  body {
    font-size: 0.9rem;
  }
}

.side {
  position: absolute;
  left: 1rem;
}

.svg-container {
  padding-top: 20vh;
}

.view-on-desktop {
  display: none;
}

@include media-query($on-palm) {
  .svg-container {
    padding-top: 120vh;
  }

  .view-on-desktop {
    display: block;
    margin-bottom: 1rem;
    color: red;
    font-size: 1rem;
  }
}


@import "globe";
@import "header";
@import "howto";
@import "settings";
@import "footer";
